# @see https://github.com/browserslist/browserslist

# @see https://browsersl.ist/#q=last+1+chrome+version%0Alast+1+firefox+version%0Alast+1+safari+version
[development]
last 1 chrome version
last 1 firefox version
last 1 safari version

# @see https://browsersl.ist/#q=%3E+0.2%25%0Adefaults%0Aie+11%0Alast+2+versions%0Anot+dead%0Anot+op_mini+all
[production]
> 0.2%
defaults
ie 11
last 2 versions
not dead
not op_mini all
