body {
  background-color: white;
  color: black;
  margin: 0;
  /**
   * Set a Courier-like font from Google Fonts.
   * This requires the font to be downloaded from Google CDN.
   * First page load repaint:
   * + slow, if "Courier Prime" is not already available in a client OS.
   * Subsequent page loads repaint:
   * + medium, with disabled network cache in a client browser.
   * + fast, with enabled network cache in a client browser.
   * Or fallback to one of available fonts with similar appearance in a client OS (fastest).
   * @see https://developer.mozilla.org/en-US/docs/Web/CSS/font-family
   * @see https://www.w3.org/TR/CSS2/fonts.html#generic-font-families
   */
  font-family:
    /** @see https://fonts.google.com/specimen/Courier+Prime */
    'Courier Prime',
    /** Since Canonical Ubuntu 12.04. */
    'Nimbus Mono PS',
    /** Since Canonical Ubuntu 12.04 (discontinued in 24.04). */
    'FreeMono',
    /** Cross-platform, usually not available in a client OS. */
    'Courier PS',
    /** Cross-platform, usually not available in a client OS. */
    'Cutive Mono',
    /** Cross-platform, usually not available in a client OS. */
    'Everson Mono',
    /** Cross-platform, usually not available in a client OS. */
    'Prestige',
    /**
     * Since Microsoft Windows 3.1.
     * Might fallback to other monospace fonts with significantly different appearance (e.g. Liberation Mono).
     */
    'Courier New',
    /**
     * IBM legacy.
     * Might fallback to other monospace fonts with significantly different appearance (e.g. Liberation Mono).
     */
    'Courier',
    ui-monospace,
    monospace;
  font-style: normal;
  font-weight: 700;
  min-width: 288px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body, html {
  height: 100%;
}
footer {
  color: silver;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: -1.5rem;
}
footer a {
  color: silver;
}
main {
  min-height: 100%;
}
h1 {
  margin: 0;
}
header {
  margin: 0 auto;
  max-width: 480px;
}
nav {
  line-height: 10vh;
}
p {
  color: gray;
  margin: 0
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  white-space: nowrap;
}

.hidden {
  height: 0;
  visibility: hidden;
}
.logotype {
  display: block;
  width: 100%;
}

#links-contacts a {
  color: black;
}
#links-legacy a {
  color: gray;
}
#nav-wrapper {
  display: inline-block;
  vertical-align: middle;
}
#wrapper {
  padding-bottom: 1.5rem;
  width: 100%;
}
